@media ALL and (max-width: 1024px) {

  /*image respnsive de fond pour aller sur les écrans*/
  .banner  {
    height: auto;
    
    height: 630px;

  }

 ul {
   
 }

  div.textandimage {
   
    font-size: 15px;
    height: auto;
    width: auto;
      margin: auto;
      justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
   display: block;
  }



  .vertical {
    height: 300px;
  }
  
    input.favorite.styled {
      display: block;
      
    }
/* reconnu mais fonctionne pas*/
    h1 {
      display: block;
     
    }

    h1#header {
      font-size: 25px;
    }
/* a tester, bizarre*/
/*__________________________________________________*/
/*_________________________________________________*/

    div.sectionquisuisje {
 
    HEIGHT:790px;
    font-size: 20px;
    
    }

  .presentationtext {
    
    width: 800;
    font-size: 70px;
    height: 550px;
    margin-left: 35px;
    margin-top: 80px

    
  }
  
    img {
      display: block;
      margin: auto;
     width: 50% auto;
    margin-top: 20px;
    
    }


    div.texteetimage {
    display: block;
    margin: 0 auto;
  }

  div.text3 {
    
    margin-top: 25px;

  }

  div.text3, div.text5, div.text6 {
    display: inline-block;
  }

/* section pour agrandir le gris foncé de section mes formations*/

  div.sectionmesformations {
    
    height: 850px;


  }
  div.goulden, div.ccicampus {
  text-align: center;
  font-size: 25px;
  display: block;
  
  margin-top: 15px;

  }

  /* responsive de mes formations */
  div.formatext1, div.formatext2 , div.formatext3 {
  text-align: center;
  font-size: 20px;
  }

  div.formatext2, div.formatext4 {
    margin: auto;
    font-size: 20px;
  }

  div.temoignage {
    display: block;
    margin: auto;
    text-align: center;
  }

/*responsive partie à gauche de qui suis je*/
  div.text1, div.text2, div.text7, div.text8 {
    display: block;
    margin: 0 auto;
    
  }

  div.silver {
    text-align: center;
  }

/* responsive partie à droite de qui suis je */

  div.text3, div.text6, div.text5{
    display: block;
    margin: 0 auto;
    
  }

  div.text3 {
    margin-top: 30px;
  }

  div.avenir {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  div.entreprisesprincipal {
    display: block;
  }


  div.sectiondiplomes {
    display: block;
    height: 370px;
  }

  div.imgdiplome {
    display: block;
  }

  
/*fin*/

div.entreprises2 {
  display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

  div.integrationrs {
    
    text-align: center;
    display: list-item;
   
  }

  div.github, div.teams, div.gmail, div.courriel {
    margin: 0 auto;
    display: inline-block;
  }

  /* droits */
  div.droits {
    display: block;
    margin-top: 20px ;
  }

  div.github img, div.Gmail img, div.courriel img, div.teams img{
    margin-top: 11px;
  }

  div.teams img {
    width: 80px;
  }
  
  div#contacts {
    margin-top: 100px
  }

  div.sectioncontacts {
    height: 960px;

  }

/*responsive textes entreprise*/

div.sectionentreprises {
  display: block;
  text-align: center;
  
  height: 2000px;
}



div.entreprises {
  display: block;
  
  
}

div.SEW-Usocome,div.dreal,div.CHH {
 margin: auto;
}




}

