/* ______________________PARTIE GENERALE______________________*/
/* PARTIE FONT FACE, HTML (scroll, body, curseur), BARRE DE NAV, HOVER*/

/*ralenti le scroll quand un lien est cliqué, révolutionnaire*/
html {
    scroll-behavior: smooth;
    cursor: url('../cursors/cursor1.cur'), auto;
}

body{
    margin:0px;
    
    }


/*<h1 id="header" id="h1" style="width: 499px; height: 70px;"> manipuler la hauteur de la nav bar 1 */

@font-face {
    font-family: 'Groteskia';
    src: url('../font/GROTESKIA.otf'); 
}

@font-face {
    font-family: 'signaturevp';
    src: url('../font/SignatureVP-PersonalUse.ttf');
}

.policesignature {
    font-family:'signaturevp';
}

.policegroteskia {
    font-family: 'Groteskia';
}

div.technicien {
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

/** ul est un élément clé de la page, il est la barre de navigation active. Basé sur la même architecture que h1#header. **/


/* ______________________ FIN PARTIE GENERALE______________________*/
/*___________________________________________________________________*/
/* ______________________ DEBUT BANNER DE PRESENTATION______________________*/
/* fond qui bouge. à laisser */
.banner {

    height: 870px ;
    width: 100%;
    background: url('../pic/background.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    position: initial;
    display: flex;
    filter: saturate(0.5);
    border-bottom: solid #904639;
}

.underline {
  text-decoration: none;
}

.underline:hover {
  text-decoration: none;
}

.underline {
  text-decoration: none;
  position: relative;
}

.underline:after {
  border-radius: 1em;
  border-top: .1em solid #904639;
  content: "";
  position: absolute;
    right: 100%;
    bottom: -0.2em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1);
}

.underline:hover:after {
  right: 0;
}

/* EXPLICATIONS HTML 
l'élément &nbsp; sert à ajouter un espace supplémentaire dans un texte. &ensp pour 2 espaces etc.. */

@media (min-width: 768px){
.presentationtext {
    font-size: 70px;
    color: white;
    font-family: 'Groteskia';
    text-align: center;
    width: 1500px;
}
}

/* cette div s'occupe de centrer la div dex et la div vertical*/
div.centertext {
    margin-left: 90px;
    margin-right:auto;
    margin-top: 80px;
    display: INLINE-BLOCK;
}

.vertical {
    border-left: 2px solid #fff;
    height: 500px; 
}

div.vertical {
    border-left-width: 3px;
    width: 5px;
}

/* PAGE WEB TEXTE EN DESSOUS DE LA PRESENTATION */

h1 {
  color: white;
  font-size: 25px;
}

h3 {
    font-size: 35px;
    padding-top: 30px;
    margin-top: 0px;
    color: black;
}

div.sectionquisuisje {
  background: #A5A9AD;
  background: linear-gradient(135deg, #A5A9AD 21px, #6b676b 22px, #6b676b 24px, transparent 24px, transparent 67px, #6b676b 67px, #d6dbe0 69px, transparent 69px),linear-gradient(225deg, #A5A9AD 21px, #6b676b 22px, #6b676b 24px, transparent 24px, transparent 67px, #6b676b 67px, #6b676b 69px, transparent 69px)0 64px;
  background-color: #A5A9AD;
  background-size: 64px 128px;
}

div.image1 img {
  border-radius: 30px;
  box-shadow: rgb(25, 111, 61) 5px 5px, rgba(25, 111, 61, 0.3) 10px 10px, rgba(25, 111, 61, 0.2) 15px 15px, rgba(25, 111, 61, 0.1) 20px 20px, rgba(25, 111, 61, 0.05) 25px 25px;
}

div.image1 img:hover{
  transform: translateY(-15px);
}

div.textandimage {
    font-size: 26px;
    display: flex;
    height: 350px;
      margin: auto;
      justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

div.text1 {
    margin-top: 0px;
    display: flex;
    margin-left:25px;
    width: 1000px;
    margin-left: 0px;
    margin-right: 0px;
    margin-left: 20px;
    width: 410px;
}

div.text2 {
    width: 400px;
    margin-left: 20px;
}

.text4 {
    width: 400px;
    margin-left: 20px;
}

.text3 {
    width: 400px;
    margin-left: 30px;
}
div.text3 {
    margin-top: 0px;
    margin-left: 25px;
    margin-left: 30px;
}

/* image stylisée et son hover*/

img{
    width:320px;
    object-fit:cover;
	transition-property: transform;
	transition-duration: 500ms;
    cursor:url('../cursors/handcursor1.cur'), auto;
}

img:hover {
    transform: scale(1.15);
}
/* fin */

.text5 {
    width: 400px;
    margin-left: 25px;
}
.text6 {
    width: 400px;
    margin-left: 20px;
}
.text7 {
    color:#904639;
    width: 400px;
    margin-left: 20px;
}
.text8 {
    width: 400px;
    margin-left: 20px;
}
span.yellow {
    color: #fff000;
}
div.silver {
    color: #6b676b;
    margin-left:20px;
}
/*COULEURS POUR TEXTE */
.grote {
    color:#904639;
}

/* FIN COULEURS POUR TEXTE*/

h5 {
    text-align: center;
    border: 1500px black ridge;
    border-left: 1000px solid black;
    border-right: 1500px solid black;
    border-width: 2px;
    border-left-width: 2px;
    background-color: #943126;
    padding: 1px;
    margin: 40px;
    padding: 35px;
    margin-left: 800px;
    margin-right: 800px;
    margin-top: 2px;
    border-radius: 10px;
    display: block;
    font-family: 'Groteskia';
    font-size: 35px;
}

div.sectionmesformations {
    background: #6b676b;
    font-family: 'Groteskia';
    height: 555px;
}

div.introcompétences {
  font-size: 25px;
}

div.sectionmesformations h3 {
    color: #fff;
}

/* mes formations texte */
div.formatext1 {
    color: #A5A9AD;
    font-size: 30px;
}

div.formatext2 {
    color:#A5A9AD;
    font-size: 25px;
    width: 500px;
}

div.formatext4 {
    color:#A5A9AD;
    font-size: 25px;
    width: 420px;
    margin: 0 auto;
}


div.formatext3 {
    color:#904639;
    font-size: 25px;
}

div.ccicampus {
    margin-top: 15px;
    font-size: 40px;
}

div.goulden {
    font-size: 40px;
    margin-top: 15px;
}

div.texteetimage {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    grid: 0%;
    margin-left: 100px;
    align-items: baseline;
    height: 390px;
}

h3 {
    display: block;
    text-align: center;
}

div.temoignage {
    font-size: 20px;
    width: 400px;
}

div.temoignage a {
    cursor: url('../cursors/handcursor1.cur'), auto;
}

div.temoignage:hover {
    color: #fff;
}

/* ______________________ FIN FORMATIONS_____________________*/
/*___________________________________________________________________*/
/* ______________________DEBUT SECTION ENTREPRISES______________________*/


div.sectionentreprises h3 {
    font-family: 'Groteskia';
    color:#000 ;
}

div.entreprises {
    display: flex;
       justify-content: space-evenly;
    align-items: baseline;
}

div.sectionentreprises {  
    background-color: #A5A9AD;
    background: linear-gradient(135deg, #D2D7DD80 50%, transparent 0),linear-gradient(-135deg, #D2D7DD80 50%, transparent 0);
    background-size: 3em 3em;
    background-color: #A5A9AD;
    opacity: 1
}

/* ______________________ FIN SECTION ENTREPRISE______________________*/
/*___________________________________________________________________*/
/* ______________________ DEBUT SECTION DIPLOMES______________________*/

div.sectiondiplomes {
    background: #904639;
    font-family: 'Groteskia';
    display: block;
}

div.sectiondiplomes {
    text-align: center;
}

div.imgdiplome {
    height: 300px;
    margin-top: -20px;
    margin: auto;
    display: block;
}

/* je ''désactive'' en qql sorte la transition et l'agrandissement car pas utile*/
div.imgdiplome img {
    transition: none;
    transition-duration:inherit;
    /* object-fit: none; */
    width: -webkit-fill-available;
}

/*désactivatin du hover pour que l'image ne se transforme pas*/
div.imgdiplome img:hover {
    transform: none;
}

div.sectiondiplomes h3 {
    color: #fff;
}

div.experience {
    margin-left:60px ;
    font-size: 34px;
    margin-right: 50px;
   width: auto;
    bottom: 700px;
    display: block;
}

/* ______________________ FIN SECTION DIPLOMES______________________*/
/*___________________________________________________________________*/
/* ______________________ DEBUT SECTION PROJETS______________________*/

div.sectionprojets h3 {
     font-family: 'Groteskia';
    
     
}

div.sectionprojets {
    background-color: #A5A9AD;
    background-image: linear-gradient(45deg, transparent 20%, #333 25%, transparent 25%), linear-gradient(-45deg, transparent 20%, #333 25%, transparent 25%), linear-gradient(-45deg, transparent 75%, #333 80%, transparent 0), radial-gradient(gray 2px, transparent 0);
background-size: 30px 30px, 30px 30px;
}

div.premierprojet {
    font-family: 'Groteskia';
    text-align: center;
    font-size: 25px;
    height: 55px;
}

div.deuxiemeprojet {
    margin-top: 30px;
    font-family: 'Groteskia';
    text-align: center;
    font-size: 20px;
    height: 55px;
    font-size: 30px;
}

div.projets1 {
    font-family: 'Groteskia';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 30px;
    
}


div.villawagner, div.icann, div.w3c, div.Sportaddict, div.siopedia, div.Kryptos, div.AP1, div.AP2, div.AP3, div.AP4, div.vigenere, div.berghof, div.hmail, div.voip, div.securitesurete, div.pca, div.messagerie {
    width: 30%;
    height: 375px;
    margin: 10px;
    background-color: white;
    transition-property: transform;
    transition-duration: 500ms;
    padding-bottom: 45px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25); 
}

div.hmail img, div.pca img {
  object-fit: contain;
}

div.vigenere:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.villawagner:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.icann:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.w3c:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.archedenoe:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
  }

div.siopedia:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.Sportaddict:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.Kryptos:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
  }

div.AP1:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.AP2:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.AP3:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.berghof:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.AP4:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.hmail:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.voip:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.pca:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.securitesurete:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.messagerie:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

div.archedenoe {
    width: 30%;
    height: 375px;
    margin: 10px;
    background-color: white;
    transition-property: transform;
    transition-duration: 500ms;
    padding-bottom: 45px;
}


div.projets1 img {
    width: 100%;
    height: 80%;
    transition: none;
    transform: none;
    transition-duration:none;
    /* object-fit: none; */
    width: -webkit-fill-available
}

.AP1 img {
  object-fit: contain;
}

div.w3c img {
  object-fit: contain;
}

div.Titreprojets {
    font-family: 'Groteskia';
    font-size:35px;
    height: 40px;
    padding-bottom: 10px;
}



div.Texteprojets {
    font-size: 20px;
}

div.coursprojets {
    font-size: 20px;
    background-color: #000;
    color: #fff;
    padding-bottom: 5px
}

div.Sportaddict img {
    object-fit: none;
}

div.AP1, div.AP3 img {
    object-fit: contain;
}

/* ______________________ FIN SECTION PROJETS______________________*/
/*___________________________________________________________________*/
/* ______________________ DEBUT SECTION CONTACTS______________________*/

/*background position va centrer l'image verticalement et horizontalement à tout moment*/
/*no repeat signifie que ce n'est pas une mosaique*/
div.sectioncontacts {
    font-family: 'Groteskia';
    background-image: url('../pic/fond_contacts2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 1050px;
    min-height: 90vh;
    background-size:cover;
}

p {
    margin: auto;
    display: block;
}

div.textcontacts {
  font-size: 50px;
}

div.textcontacts2 {
    font-size: 35px;
}

div.textcontactsprincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 430px;
    Padding-top: 100px;
}

/*__________________________________________partie 5 intégrations__________________________________________*/

/*redimensionnement des images à 80px*/
div.Github img, div.Gmail img, div.Courriel img, div.Outlook img, div.linkedin img {
    width: 80px;
}

/*contour et dimensions de chaque div de RS*/
div.Github, div.Outlook, div.Gmail, div.Courriel, div.linkedin {
    width: 100px;
    height: 100px;
   display: flex;
   justify-content: space-around;
   background-color: #D2D7DD;
   border-radius: 10px;
   box-shadow: 10px 5px 5px #000;
   align-items: center;
   margin: auto;
}

/*centrage des div respectives*/
div.integrationrs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*droits*/

footer {
    background:#ccc;
    bottom:0;
    background-color: #A5A9AD;
    font-size: 25px;
    font-family:'Groteskia';
    justify-content: space-evenly;
    text-align: center;
    cursor: url('../cursors/handcursor1.cur'), auto;
}

div.sources, div.mentions {
    display: block;
    text-align: center;
    font-family: 'GROTESKIA';
    cursor: url('../cursors/handcursor1.cur');
    font-size: 35px;
}

div.Fonds a {
    cursor: url('../cursors/handcursor1.cur'), auto;
    font-family: 'GROTESKIA';
    display: block;
    text-align: center;
    font-size: 30px;
}

div.wallpaperflare {
    font-style: italic;
    font-size: 19px;
    padding-top: 5px;
    color: #555;
}

div.titresmentions {
    display: block;
    text-align: center;
    font-family: 'GROTESKIA';
    cursor: url('../cursors/handcursor1.cur');
    font-size: 25px;
    text-decoration: underline;
}

div.titresmentions1 {
    display: block;
    text-align: center;
    font-family: 'GROTESKIA';
    cursor: url('../cursors/handcursor1.cur');
    font-size: 25px;
    text-decoration: underline;
    padding-top: 30px;
}

div.textesmentions {
    display: block;
    text-align: center;
    font-family: 'GROTESKIA';
    cursor: url('../cursors/handcursor1.cur');
    font-size: 20px;
}

div.droits a:hover {
    cursor: url('../cursors/handcursor1.cur'), auto;
}

/* LIEN HYPERTEXT VERS LA VIDEO BAC*/

a {
    color: black;
}

div.sources a {
    cursor: url('../cursors/handcursor1.cur'), auto;
}

/*_______________ trait !!!__________________ */

h3:before {
    margin-left:-100%;
  margin-right:3em}
  h3:after {
    margin-right:-100%;
  margin-left:3em;}

  h3:before, h3:after {
    content:'';
    width:3em;
    border-bottom:#904639 solid;
    display:inline-block;
    vertical-align:middle;
  }


/* POUR LE BUTTON CV*/
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 25px;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #904639;
    display: block;
    margin: auto;
    width: 50px;
}

input.favorite.styled {
    cursor: url('../cursors/cursor1.cur');
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

a.styled {
    cursor:url('../cursors/handcursor1.cur'), pointer;
}

/*_____________________barre de navigation stylisee______________*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* toute la hauteur */
  ::-webkit-scrollbar-track {
    background: #A5A9AD;
  }
  
  /* maintient */
  ::-webkit-scrollbar-thumb {
    background: rgb(56, 56, 56);
  }
  
  /* curseur du barre */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  body {
    cursor: url('../cursors/cursor1.cur') auto;
  }
  
/* ____________________________________*/
/* The Modal (background) -------------------------------------------------------------------------- */

.modalDialog {
    position: fixed;
    font-family: 'Tommy';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background-color:#A5A9AD;
  }
  .close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    font-family: 'GROTESKIA';
    cursor: url('../cursors/handcursor1.cur'), auto;
  }
  .close:hover {
    background: #D2D7DD;
  }

  /* ____________________________________*/
/* The Modaldialog1 (background) -------------------------------------------------------------------------- */

div.Titreprojets a {
  text-decoration: none;
}

div.Titreprojets a:hover {
  text-decoration: none;
}

div.Titreprojets a {
  text-decoration: none;
  position: relative;
}

div.Titreprojets a:after {
  border-radius: 1em;
  border-top: .1em solid #904639;
  content: "";
  position: absolute;
    right: 100%;
    bottom: -0.2em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1);
}

div.Titreprojets a:hover:after {
  right: 0;
}
  
  /* header */
  
  .header {
    background-color: #ABB2B9;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0px;
    border-bottom: thick double #904639 ;
  }
  
  .header ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #ABB2B9;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #ABB2B9;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    cursor: url('../cursors/handcursor1.cur'), auto;
  }
  

  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    font-size: 15px;
  }

  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
    
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
    height: 67px;
  }
  
  /*EFFET UNDERLINE **************************************************/
  body {
    margin: 0;
    font-family: 'GROTESKIA';
  }
  
  ul li a {
    color: #000;
    display: inline-block;
  position: relative;
  color: #000;
  }

  ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #904639;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  /* header */
  
  .header {
    background-color: #A5A9AD;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0px;
    border-bottom: thick double #904639 ;
  }
  
  .header ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #A5A9AD;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #A5A9AD;
    text-decoration: none;
    font-size: 90px;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    cursor: url('../cursors/handcursor1.cur'), auto;
  }
  
/*EFFET UNDERLINE **************************************************/
body {
  margin: 0;
  font-family: 'GROTESKIA';
}

ul li a {
  color: #000;
  display: inline-block;
position: relative;
color: #000;
}

ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #904639;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* header */

.header {
  background-color: #A5A9AD;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0px;
  border-bottom: thick double #904639 ;
}

.header ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #A5A9AD;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #A5A9AD;
  text-decoration: none;
  font-size: 90px;
}

.header li a:hover,
.header .menu-btn:hover {
  cursor: url('../cursors/handcursor1.cur'), auto;
}


/* EFFET UNDERLINE FIN *µµµµµµµµµµµµµµµµµµµµ/
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    font-size: 15px;
  }

  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 850px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 1024px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
      font-size: 22px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

  .skills-section{
    padding-top: 20px;
    }    
    .skills-container{
    display: grid;
    grid-tempLate-columns: repeat(5, 1fr);
    justify-content:center;
    align-items:center;
    text-align: center;
    grid-gap:1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
    }
    .skills-box{
    padding: 1rem;
    color: #000;
    cursor: url('../cursors/handcursor1.cur'), auto;
    }

    /* EFFET BIZARRE VERS LA GAUCHE 
    .skills-box:hover .skills-img{
    transform: translateX(-20px);
    }
    */
    
    .skills-title{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    }
    
    .skills-title:after{
    content: '';
    position:absolute;
    bottom: 0;
    right: 50%;
    width:20px;
    height:4px;
    border-radius: 2px 0 0 2px;
    background-color: #333;
    transition: .5s;
    }
    
    .skills-title:before{
    content: '';
    position:absolute;
    bottom: 0;
    left: 50%;
    width:100px;
    height:4px;
    border-radius: 0 2px 2px 0;
    background-color: #333;
    }
    
    .skills-icons{
    width:50px;
    z-index:2;
    }
    
    .skills-img{
    width:90px;
    height:90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: .5s;
    }
    
    .skills-img:after{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width:50%;
    height:90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
    }
    .skills-title h1{
    color: white;
    margin-top: 0.5rem;
    }
    @media screen and (max-width:990px){
     .skills-container{
     grid-tempLate-columns: repeat(2, 1fr);
     padding: 2rem 50px;
     display: inline;
     }
    }
    
    @media screen and (max-width:650px){
     .skills-container{
     grid-tempLate-columns:2fr;
     padding: 2rem 50px;
     }
    }

div.skills-box p {
  font-size: 30px;
}

/* POUR LE 70% *******************************************************/

.container1 {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

div.container1 .css {
  width: 70%;
  background-color: #2196F3;
}

/* POUR LE 70% *******************************************************/

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */

.mon-bouton {
  font-family: 'GROTESKIA';
  background-color: black; /* Couleur de fond */
  border: none; /* Pas de bordure */
  color: white; /* Couleur de texte */
  padding: 12px 24px; /* Remplissage (haut/bas gauche/droite) */
  text-decoration: none; /* Pas de soulignement */
  display: inline-block; /* Affichage en ligne */
  font-size: 17px; /* Taille de police */
  cursor: url('../cursors/handcursor1.cur'), auto; /* Curseur de la souris de type pointeur */
  border-radius: 5px; /* Arrondi des bords */
  transition-duration: 0.4s; /* Durée de transition */
  float: right;
}

.mon-bouton:hover {
  background-color: #333; /* Couleur de fond lors du survol */
  color: white; /* Couleur de texte lors du survol */
}

button a {
  color: white;
  text-decoration: none;
  cursor: url('../cursors/handcursor1.cur'), auto;
}

  /* Style de la section des entreprises */
  #entreprises {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  /* Style de chaque entreprise */
  .entreprise {
    width: 300px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    background: white;
  }
  
  /* Style de l'image de chaque entreprise */
  .entreprise img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  /* Style du texte de chaque entreprise */
  .entreprise p {
    text-align: center;
    margin: 20px;
    font-size: 25px;
  }

  .entreprise h1{
    color: #000;
    text-align: center;
    font-size: 35px;
  }

div.entreprise.sew h1 {
    color: #DE0000;
  }

  div.entreprise.dreal h1 {
    color: #239B56;
  }

  div.entreprise.CHH h1 {
    color: #30B0D3;
  }

  div.entreprise.sew, div.entreprise.dreal, div.entreprise.CHH, div.entreprise.Mairie {
    transition-property: transform;
    transition-duration: 500ms;
  }

  

  div.entreprise.sew:hover, div.entreprise.dreal:hover, div.entreprise.CHH:hover, div.entreprise.Mairie:hover{
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 25%);
    transform: translateY(-15px);
    transition-duration: 500ms;
    transition-property: transform;
  }

  .afficher-wrapper {
    text-align: center;
    margin-top: 20px;
    font-family: 'GROTESKIA';
    font-size: 25px;
    color: #000;
    text-decoration: none;
    padding-bottom: 25px;
    position: relative;
}
.afficher {
    cursor: pointer;
    transition: all 2s ease;
}
.toto-closed {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 2s ease;
}
.toto-open {
    height: auto;
    opacity: 1;
    overflow: visible;
    transition: all 2s ease;
}


  /*FORMULAIRE DE CONTACT %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

  #contact {
    padding: 60px 0;
    padding-top: 0px;
   
  }
  
  #contact h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }
  
  #contact form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  #contact label {
    font-size: 28px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: white;
    float: right;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'GROTESKIA';
    height: 50px;
    font-size: large;
  }
  
  #contact textarea {
    height: 120px;
  }
  
  #contact button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #0077b5;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  #contact button[type="submit"]:hover {
    background-color: #005f8b;
  }

section#contact button {
  font-family: 'GROTESKIA';
}
  