/* ______________________PARTIE GENERALE______________________*/
/* PARTIE FONT FACE, HTML (scroll, body, curseur), BARRE DE NAV, HOVER*/

/*ralenti le scroll quand un lien est cliqué, révolutionnaire*/
html {
    scroll-behavior: smooth;
    cursor: url('../cursors/cursor1.cur'), auto;
}

body{
    margin:0px;
    
    }

/* barre de navigation 1, nom. */
#header{
    height:200px;
    background:#D2D7DD;
    margin-top: -40px;
    position: fixed;
    text-align: center;
    padding: 1px;
    display: block;
    font-size: 30px;
}

 /*Barre de navigation 1, le fait que la barre fasse toute la page à l'horizontal*/
h1#header {
    height: 100px;
    padding-left: 1px;
    border-right-width: 0px;
    margin-bottom: 0px;
    right: 0px;
    left: 0px;
    margin:0 auto;
    padding-top: 40px;
    top: 0px;
    height: 70px;
}

/*<h1 id="header" id="h1" style="width: 499px; height: 70px;"> manipuler la hauteur de la nav bar 1 */

@font-face {
    font-family: 'Groteskia';
    src: url('../font/GROTESKIA.otf'); 
}

@font-face {
    font-family: 'signaturevp';
    src: url('../font/SignatureVP-PersonalUse.ttf');
}

.policesignature {
    font-family:'signaturevp';
}

.policegroteskia {
    font-family: 'Groteskia';
}

nav > ul {
    display: block;
    width: 1200px;
    margin: auto;
    text-align: center;
}

/** ul est un élément clé de la page, il est la barre de navigation active. Basé sur la même architecture que h1#header. **/

ul {
    font-size: 20px;
    list-style-type: none;
    overflow: hidden;
    background-color: #D2D7DD;
    border-radius: 10px;
    position: fixed;
    top: 100px; 
    display: flex;
    padding-top: 2px;
    width: 70%;
    margin: auto;
    padding-left: 0px;
    right: 0px;
    left: 0px;
    width: 700px;
    justify-content: center;
}

/*texte et infos Ce que je suis.. Mes formations...*/
li a {
    display:block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Groteskia';
    font-size: 22px;
    cursor:url('../cursors/handcursor1.cur'), auto;
}

/* mettre de la couleur autour des menus
li a:hover:not(.active) {
    background-color: #904639;
}
*/

/* Mettre de la couleur quand le curseur passe dessus */
a:hover {
    color: #904639;
    font-family: 'Groteskia';
    
}

/* ______________________ FIN PARTIE GENERALE______________________*/
/*___________________________________________________________________*/
/* ______________________ DEBUT BANNER DE PRESENTATION______________________*/
/* fond qui bouge. à laisser */
.banner {

    height: 870px ;
    width: 100%;
    background: url('../pic/fond_premiere_page.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    position: initial;
    display: flex;
}

/* EXPLICATIONS HTML 
l'élément &nbsp; sert à ajouter un espace supplémentaire dans un texte. &ensp pour 2 espaces etc.. */

@media (min-width: 768px){
.presentationtext {
    font-size: 70px;
    color: white;
    font-family: 'Groteskia';
    text-align: center;
    width: 1500px;
}
}

/* cette div s'occupe de centrer la div dex et la div vertical*/
div.centertext {
    margin-left: 90px;
    margin-right:auto;
    margin-top: 80px;
    display: INLINE-BLOCK;
}

.vertical {
    border-left: 2px solid #fff;
    height: 500px; 
}

div.vertical {
    border-left-width: 3px;
    width: 5px;
}

/* PAGE WEB TEXTE EN DESSOUS DE LA PRESENTATION */

h3 {
    font-size: 35px;
    padding-top: 30px;
    margin-top: 0px;
    color: black;
}

div.sectionquisuisje {
    background: #D2D7DD;
    font-family: 'Groteskia';
    margin: 0 auto;
}

div.textandimage {
    font-size: 26px;
    display: flex;
    height: 350px;
      margin: auto;
      justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

div.text1 {
    margin-top: 0px;
    display: flex;
    margin-left:25px;
    width: 1000px;
    margin-left: 0px;
    margin-right: 0px;
    margin-left: 20px;
    width: 410px;
}

div.text2 {
    width: 400px;
    margin-left: 20px;
}

.text4 {
    width: 400px;
    margin-left: 20px;
}

.text3 {
    width: 400px;
    margin-left: 30px;
}
div.text3 {
    margin-top: 0px;
    margin-left: 25px;
    margin-left: 30px;
}

/* image stylisée et son hover*/

img{
    width:320px;
    object-fit:cover;
	transition-property: transform;
	transition-duration: 500ms;
    cursor:url('../cursors/handcursor1.cur'), auto;
}

img:hover {
    transform: scale(1.15);
}
/* fin */

.text5 {
    width: 400px;
    margin-left: 25px;
}
.text6 {
    width: 400px;
    margin-left: 20px;
}
.text7 {
    color:#904639;
    width: 400px;
    margin-left: 20px;
}
.text8 {
    width: 400px;
    margin-left: 20px;
}
span.yellow {
    color: #fff000;
}
div.silver {
    color: #6b676b;
    margin-left:20px;
}
/*COULEURS POUR TEXTE */
.grote {
    color:#904639;
}

/* FIN COULEURS POUR TEXTE*/

h5 {
    text-align: center;
    border: 1500px black ridge;
    border-left: 1000px solid black;
    border-right: 1500px solid black;
    border-width: 2px;
    border-left-width: 2px;
    background-color: #943126;
    padding: 1px;
    margin: 40px;
    padding: 35px;
    margin-left: 800px;
    margin-right: 800px;
    margin-top: 2px;
    border-radius: 10px;
    display: block;
    font-family: 'Groteskia';
    font-size: 35px;
}

div.sectionmesformations {
    background: #6b676b;
    font-family: 'Groteskia';
    height: 555px;
}

div.sectionmesformations h3 {
    color: #fff;
}

/* mes formations texte */
div.formatext1 {
    color: #D2D7DD;
    font-size: 30px;
}

div.formatext2 {
    color:#D2D7DD;
    font-size: 25px;
    width: 500px;
}

div.formatext4 {
    color:#D2D7DD;
    font-size: 25px;
    width: 420px;
    margin: 0 auto;
}


div.formatext3 {
    color:#904639;
    font-size: 25px;
}

div.ccicampus {
    margin-top: 15px;
    font-size: 40px;
}

div.goulden {
    font-size: 40px;
    margin-top: 15px;
}

div.texteetimage {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    grid: 0%;
    margin-left: 100px;
    align-items: baseline;
    height: 390px;
}

h3 {
    display: block;
    text-align: center;
}

div.temoignage {
    font-size: 20px;
    width: 400px;
}

div.temoignage a {
    cursor: url('../cursors/handcursor1.cur'), auto;
}

div.temoignage:hover {
    color: #fff;
}

/* ______________________ FIN FORMATIONS_____________________*/
/*___________________________________________________________________*/
/* ______________________DEBUT SECTION ENTREPRISES______________________*/

div.entreprisesprincipal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: 700px;
}

div.sectionentreprises h3 {
    font-family: 'Groteskia';
    color:#000 ;
}

div.entreprises {
    display: flex;
       justify-content: space-evenly;
    align-items: baseline;
}

div.sectionentreprises {  
    height: 790px;
}

/*DIV SEW*/
div.Sew-usocome {
    font-family: 'Groteskia';
    width: 397px;
}

div.macimg {
    text-align: center;
}

div.entreprisestext1 {
    font-family: 'Groteskia';
    font-size: 35px;
    display: list-item;
    list-style-type: style type circle;
}

div.entreprisestext2 {
    font-family: 'Groteskia';
    font-size: 20px;
    margin-top: 5px;
    width: 397px;
}

div.datestext {
    font-family: 'Groteskia';
    font-size: 20px;
    color: #6b676b;
}

div.entreprises2 {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}


div.MairieHaguenau {
    width: 397px;
}

div.mac {
    width: 397px;
}

div.PoleCulturel {
    font-family: 'Groteskia';
    font-size: 30px;
    width: 397px;
}

/* ______________________ FIN SECTION ENTREPRISE______________________*/
/*___________________________________________________________________*/
/* ______________________ DEBUT SECTION DIPLOMES______________________*/

div.sectiondiplomes {
    background: #904639;
    font-family: 'Groteskia';
    display: block;
    height: 920px;
    padding-bottom: 62px;
}

div.sectiondiplomes {
    text-align: center;
}

div.imgdiplome {
    height: 300px;
    margin-top: -20px;
    margin: auto;
    display: block;
}

/* je ''désactive'' en qql sorte la transition et l'agrandissement car pas utile*/
div.imgdiplome img {
    transition: none;
    transition-duration:inherit;
    /* object-fit: none; */
    width: -webkit-fill-available;
}

/*désactivatin du hover pour que l'image ne se transforme pas*/
div.imgdiplome img:hover {
    transform: none;
}

div.sectiondiplomes h3 {
    color: #fff;
}

div.experience {
    margin-left:60px ;
    font-size: 34px;
    margin-right: 50px;
   width: auto;
    bottom: 700px;
    display: block;
}

/* ______________________ FIN SECTION DIPLOMES______________________*/
/*___________________________________________________________________*/
/* ______________________ DEBUT SECTION PROJETS______________________*/

div.sectionprojets h3 {
     font-family: 'Groteskia';
    
     
}

div.sectionprojets {
    background-color: #D2D7DD;
}

div.premierprojet {
    font-family: 'Groteskia';
    text-align: center;
    font-size: 25px;
    height: 55px;
}

div.deuxiemeprojet {
    margin-top: 30px;
    font-family: 'Groteskia';
    text-align: center;
    font-size: 20px;
    height: 55px;
    font-size: 30px;
}

div.projets1 {
    font-family: 'Groteskia';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 30px;
}

div.villawagner, div.icann, div.w3c, div.Sportaddict, div.siopedia, div.Kryptos, div.AP1, div.AP2, div.AP3, div.vigenere {
    width: 30%;
    height: 375px;
    margin: 10px;
    background-color: white;
    transition-property: transform;
    transition-duration: 500ms;
    padding-bottom: 45px;
    box-shadow: black 0px 5px 20px 0px;
}

div.archedenoe {
    width: 30%;
    height: 375px;
    margin: 10px;
    background-color: white;
    transition-property: transform;
    transition-duration: 500ms;
    padding-bottom: 45px;
    box-shadow: black 0px 5px 20px 0px;
}


div.projets1 img {
    width: 100%;
    height: 80%;
    transition: none;
    transform: none;
    transition-duration:none;
    /* object-fit: none; */
    width: -webkit-fill-available
}

div.Titreprojets {
    font-family: 'Groteskia';
    font-size:35px;
    height: 40px;
    padding-bottom: 10px;
}

div.w3c div.Titreprojets {
    font-size: 25px;
}

div.Texteprojets {
    font-size: 20px;
}

div.coursprojets {
    font-size: 20px;
    background-color: #000;
    color: #fff;
    padding-bottom: 5px
}

div.Sportaddict img {
    object-fit: none;
}

div.AP1, div.AP3 img {
    object-fit: contain;
}

/* ______________________ FIN SECTION PROJETS______________________*/
/*___________________________________________________________________*/
/* ______________________ DEBUT SECTION CONTACTS______________________*/

/*background position va centrer l'image verticalement et horizontalement à tout moment*/
/*no repeat signifie que ce n'est pas une mosaique*/
div.sectioncontacts {
    font-family: 'Groteskia';
    background-image: url('../pic/fond_contacts2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 960px;
    min-height: 90vh;
    background-size:cover;
}

p {
    font-size: 55px;
    margin: auto;
    display: block;
}

div.textcontacts2 {
    font-size: 35px;
}

div.textcontactsprincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 430px;
    Padding-top: 100px;
}

/*__________________________________________partie 5 intégrations__________________________________________*/

/*redimensionnement des images à 80px*/
div.Github img, div.Gmail img, div.Courriel img, div.Outlook img, div.linkedin img {
    width: 80px;
}

/*contour et dimensions de chaque div de RS*/
div.Github, div.Outlook, div.Gmail, div.Courriel, div.linkedin {
    width: 100px;
    height: 100px;
   display: flex;
   justify-content: space-around;
   background-color: #D2D7DD;
   border-radius: 10px;
   box-shadow: 10px 5px 5px #000;
   align-items: center;
   margin: auto;
}

div.linkedin {
    text-align: -webkit-center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*GITHUB*/

div.badge-base LI-profile-badge {
    display: flex;
}

/*centrage des div respectives*/
div.integrationrs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*droits*/

footer {
    background:#ccc;
    bottom:0;
    background-color: #D2D7DD;
    font-size: 25px;
    font-family:'Groteskia';
    justify-content: space-evenly;
    text-align: center;
    cursor: url('../cursors/handcursor1.cur'), auto;
}

div.sources, div.mentions {
    display: block;
    text-align: center;
    font-family: 'GROTESKIA';
    cursor: url('../cursors/handcursor1.cur');
    font-size: 35px;
}

div.Fonds a {
    cursor: url('../cursors/handcursor1.cur'), auto;
    font-family: 'GROTESKIA';
    display: block;
    text-align: center;
    font-size: 30px;
}

div.wallpaperflare {
    font-style: italic;
    font-size: 19px;
    padding-top: 5px;
    color: #555;
}

div.titresmentions {
    display: block;
    text-align: center;
    font-family: 'GROTESKIA';
    cursor: url('../cursors/handcursor1.cur');
    font-size: 25px;
    text-decoration: underline;
}

div.titresmentions1 {
    display: block;
    text-align: center;
    font-family: 'GROTESKIA';
    cursor: url('../cursors/handcursor1.cur');
    font-size: 25px;
    text-decoration: underline;
    padding-top: 30px;
}

div.textesmentions {
    display: block;
    text-align: center;
    font-family: 'GROTESKIA';
    cursor: url('../cursors/handcursor1.cur');
    font-size: 20px;
}

div.droits a:hover {
    cursor: url('../cursors/handcursor1.cur'), auto;
}

/* LIEN HYPERTEXT VERS LA VIDEO BAC*/

a {
    color: black;
}

div.sources a {
    cursor: url('../cursors/handcursor1.cur'), auto;
}

/*_______________ trait !!!__________________ */

h3:before {
    margin-left:-100%;
  margin-right:3em}
  h3:after {
    margin-right:-100%;
  margin-left:3em;}

  h3:before, h3:after {
    content:'';
    width:3em;
    border-bottom:#904639 solid;
    display:inline-block;
    vertical-align:middle;
  }


/* POUR LE BUTTON CV*/
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 25px;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #904639;
    display: block;
    margin: auto;
    width: 50px;
}

input.favorite.styled {
    cursor: url('../cursors/cursor1.cur');
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

a.styled {
    cursor:url('../cursors/handcursor1.cur'), pointer;
}

/*_____________________barre de navigation stylisee______________*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* toute la hauteur */
  ::-webkit-scrollbar-track {
    background: #D2D7DD;
  }
  
  /* maintient */
  ::-webkit-scrollbar-thumb {
    background: rgb(56, 56, 56);
  }
  
  /* curseur du barre */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  body {
    cursor: url('../cursors/cursor1.cur') auto;
  }
  
/* ____________________________________*/
/* The Modal (background) -------------------------------------------------------------------------- */

.modalDialog {
    position: fixed;
    font-family: 'Tommy';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background-color:#D2D7DD;
  }
  .close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    font-family: 'GROTESKIA';
    cursor: url('../cursors/handcursor1.cur'), auto;
  }
  .close:hover {
    background: #D2D7DD;
  }

  /* ____________________________________*/
/* The Modaldialog1 (background) -------------------------------------------------------------------------- */
