@media ALL and (max-width: 1024px) {



  .entreprise {
    width: 450px;
  }

  .skills-title h1 {
    font-size: 73px;
  }

  div.projets1 {
    font-family: 'NOTO';
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
    padding-top: 70px;

  }

  div.entreprise.sew h1 {
    font-size: 56px;
  }

  div.entreprise.dreal h1 {
    font-size: 56px;
  }

  div.entreprise.CHH h1 {
    font-size: 56px;
  }

  div.entreprise.Mairie h1 {
    font-size: 56px;
  }

  .entreprise p {
    font-size: 40px
  }

  div.skills-header h1 {
    font-size: 70px;
  }

  /*PREMIERE PAGE BANNER ET NAVBAR*/
  /*image respnsive de fond pour aller sur les écrans*/
  .banner  {
    height: auto;
    height: 630px;
    display: flex;
  }

 /* redimensionnement de la nav bar*/

  div.textandimage {
    font-size: 50px;
    height: auto;
    width: auto;
      margin: auto;
      justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
   display: block;
   display: grid;
  }
    input.favorite.styled {
      display: block;
      font-size: xx-large;
    }

___________________________________*/
/*FIN PREMIERE PAGE BANNER ET NAVBAR*/
/*_________________________________________________*/
/* ______________________QUI SUIS JE ______________________*/

    div.sectionquisuisje {
    HEIGHT:1900px;
    font-size: 60px;
    }

  .presentationtext {
    font-size: 120px;
    display: block;
  }

  a.styled {
    width: 900px;
  }
  
    img {
      display: block;
      margin: auto;
     width: 50% auto;
    margin-top: 20px;
    }

    div.image1 img {
      height: 450px;
    width: 450px;
    }

    h11 {
      font-size: 50px;
  }

    div.text1, div.text2, div.text3, div.image1, .styled {
      width: 900px;
    }

    div.image1 {
      font-size: 10px;
    }


    div.texteetimage {
    display: block;
    margin: 0 auto;
  }

  div.text3 {
    margin-top: 25px;
  }

  div.text3, div.text5, div.text6, div.text7 {
    display: inline-block;
    width: 900px;
  }
/* responsive partie à droite de qui suis je */
div.text3 {
  margin-top: 30px;
}

div.avenir {
  display: block;
  text-align: center;
  margin: 0 auto;
}

div.entreprisesprincipal {
  height: 1030px;
  align-items: center;
}

div.sectionentreprises h3 {
  font-size: 55px;
}

div.sectiondiplomes {
  display: block;
}

div.imgdiplome {
  display: block;
}

/* REDIMENSIONNEMENT TITRE TELEPHONE */
h7, h8, h9 {
  font-size: 60px;
}
/*__________________________________________________*/
/*FIN SECTION QUI SUIS JE*/
/*_________________________________________________*/
/* ______________________SECTION MES FORMATIONS______________________*/

/* section pour agrandir le gris foncé de section mes formations*/

  div.sectionmesformations {
    height: 2750px;
  }

  div.sectionmesformations h3 {
    color: #fff;
    font-size: 49px;
}

  div.goulden, div.ccicampus {
  text-align: center;
  font-size: 65px;
  display: block;
  margin-top: 15px;
  }

  /* responsive de mes formations */
  div.formatext1, div.formatext2 , div.formatext3 {
  text-align: center;
  font-size: 45px;
  }

  div.formatext2, div.formatext4 {
    margin: auto;
    font-size: 45px;
    width: 670px;
    TEXT-ALIGN: center;
  }

  div.imagecci img, div.imagegoulden img {
    width: 500px;
  }

  div.temoignage {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 45px;
    width: 600px;
  }

  div.silver {
    text-align: center;
  }

  div.entreprisestext1 {
    font-size: 45px;
  }

  div.entreprises2 {
    display: flex;
      
      flex-direction: column;
      align-items: center;
  }
  
  div.sectiondiplomes h3 {
    font-size: 45px;
  }


/*fin*/
  /*responsive textes entreprise*/

div.sectionentreprises {
  display: block;
  text-align: center;
  height: 2720px;
}

div.entreprises {
  display: block;
}

div.SEW-Usocome,div.dreal,div.CHH {
 margin: auto;
}

/*__________________________________________________*/
/*FIN SECTION ENTREPRISES*/
/* ______________________SECTION PROJETS______________________*/

div.villawagner, div.w3c, div.Sportaddict, div.archedenoe, div.siopedia, div.Kryptos, div.AP1, div.AP2, div.AP3, div.AP4, div.berghof, div.everest, div.attacks, div.pca, div.camera, div.migration, div.incidents, div.chess {
  width:90%;
  padding-bottom: 154px;
  height: 740px;
  margin-bottom: 10px;
  
}

div.vigenere {
  height: 740px;
}

div.Titreprojets a {
  font-size: 50px;
}

div.chess div.Titreprojets a {
  font-size: 50px;
}

div.AP1 div.Titreprojets a {
  font-size: 50px;
}


div.projets1 div.icann, div.w3c, div.Sportaddict, div.archedenoe, div.siopedia, div.Kryptos, div.AP1, div.AP2, div.AP3, div.AP4, div.vigenere, div.berghof, div.everest, div.attacks, div.camera, div.incidents, div.chess {
  padding-bottom: 280px;
  width: 90%;
  
}

div.projets1 div.incidents {
  padding-bottom:230px;
  
  margin-bottom: 70px;
}

div.projets1 div.incidents img {
  object-fit: scale-down;
}

div.berghof {
  margin-top: 30px;
}

div.deuxiemeprojet {
  font-size: 52px;
  height: 161px;
}

div.txtdeuxiemeprojet {
  font-size: 39px;
  margin-top: 100px;
  height: 285px;
  text-align: center;
}

div.Texteprojets {
  font-size: 40px;
  
  padding-bottom: 23px;
  padding-top: 53px;

}

div.coursprojets {
  font-size: 28px;
}

.mon-bouton {
  font-size: 30px;
}


div.AP1 img {
  object-fit: cover;
}

div.technicien {
  font-size: 80px;
}

div.AP4 {
  padding-bottom: 218px;
}

.afficher-wrapper {
  margin-top: 115px;
}

div.migration {
  padding-bottom: 290px;
}


div.villawagner a img {
  height:60%;
}

div.projets1 div.icann {
  padding-bottom: 345px;
  width: 791px;
  height: 741px;
  width: 90%;
}

div.archedenoe div.Texteprojets {
  font-size: 36px;
}

div.siopedia div.Texteprojets {
  font-size: 36px;
}

div.Kryptos div.Texteprojets {
  font-size: 36px;
}

div.vigenere div.Texteprojets {
  font-size: 36px;
}

div.w3c div.Titreprojets {
  font-size: 45px;
}

div.premierprojet {
  font-size: 40px;
  height: 118px
}

#contact label {
  font-size: 79px;
}

#contact form {
  max-width: 748px;
}

#contact input[type="text"],
  #contact input[type="email"],
  #contact textarea {
    font-size: 46px;
    height: 131px;
  }

  #contact button[type="submit"] {
    font-size: 55px;
  }

div.textcontactsprincipal {
  height: 269px;
  Padding-top: 1px;
}

div.textcontacts {
  font-size: 113px;
}

#contact {
  height: 1499px;
}

footer {
  font-size: 56px;
}

/*_________________________________________________*/
/* ______________________SECTION CONTACTS______________________*/
  div.integrationrs {
    text-align: center;
    display: list-item;

  }

  div.introcompétences {
    font-size: 52px;
  }

  div.github, div.courriel {
    margin: 0 auto;
    display: inline-block;
  }

  /* droits */
  div.droits {
    display: block;
  }

  div.github img, div.courriel img {
    margin-top: 11px;
  }

  div.teams img {
    width: 80px;
  }
  
  div#contacts {
    margin-top: 120px
  }

  div.sectioncontacts {
    height: 1000px;
    padding-top: 100px;
  }
/*FIN SECTION CONTACTS*/

div.mentions {
  font-size: 50px;
}

div.textesmentions {
  font-size: 35px;
}

div.titresmentions, div.titresmentions1 {
  font-size: 45px;
}

.modalDialog > div {
  width: 700px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background-color: #D2D7DD;
}

}